@import '../common.scss';

.services{
    @include common-padding();
    padding-top: 0;
    
    & h3{
        font-size: 1.875rem;
        text-align: center;
        text-transform: uppercase;
        margin-top: 60px;
    }
    &__list{
        list-style: none;
        margin-top: 40px;
    }

}

.page{
    &__recommendation{
        @include common-padding();
        background: $c_white_base;
        color: $c_black_base;
        text-align: center;
        font-size: 1.125rem;
        border-top: 1px solid $c_greyer;
        padding: 30px 0 30px;
    }
}

@media #{$tablet} {
  .services{
      max-width: $c_width_large;
      margin: 0 auto;

      & h3{
          font-size: 1.875rem;
          margin: 150px 0 60px;
      }

      &__list{
          
      }
  }
  .service-item{
      box-sizing: border-box;
      border: none;

      &__inner{
      }
      &:nth-child(2n){
          padding-right: 0;
      }
      &:nth-child(2n+1){
          padding-left: 0;
      }
  }
  .page__recommendation{
      font-size: 1.125rem;
      padding: 45px 0 20px;
      max-width: $c_width_large;
      box-sizing: border-box;
      margin: 60px auto 0;
  }
}
@media #{$desktop} {
   .page__recommendation{
        font-size: 1.875rem;
    }
}
