@import '../../common.scss';

.contact{
    @include common-padding();
    background: $c_black_base;
    color: $c_white_base;

    &__title{
        font-size: 1.875rem;
        font-weight: 400;
    }

    &__row{
        display: flex;
        align-items: center;

        &--text{
            font-weight: bold;
            margin-top: 10px;
            font-weight: 400;
        }

        &--info{
            padding: 5px 0;
            color: $c_white_base;
        }

        &-phone{
            color: $c_white_base;
        }
    }
}

@media #{$tablet} {
    .contact{
        max-width: $c_width_large;
        margin: 10px auto;
        box-sizing: border-box;
    }
}

.mail-to{
    color: $c_white_base;
    text-decoration: none;
}
