$c_white_base:#FFF;
$c_black_base:#000;
$c_grey_base: #d7d7d7;
$c_blue_base: #005aa8;
$c_greyer: rgb(215,215,215);

$c_width_large: 900px;

@mixin common-padding() {
  padding: 10px 18px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1024px)";

